/*
 Basic styling for fragments shared by all themes.
*/

div.fragment {
    padding: 0;
    margin: 4px 8px 4px 2px;
    color: #bebebe;
    background-color: #323232;
    border: 3px solid #e8e8e8;
    border-radius: 2px;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    
}

div.line {
    font-family: monospace, fixed;
    font-size: 13px;
    min-height: 13px;
    line-height: 1.0;
    text-indent: -53px;
    margin: 0px;
    padding: 1px 0 1px 53px;
    white-space: pre;
    
    @include transition-property(background-color);
    @include transition-duration(0s);

    &:hover {
        background-color: #1a1a1a;
    }

    &::after {
        // insert linefeed
        content:"\000A";
        white-space: pre;
    }
}

span.lineno {
    padding-right: 4px;
    text-align: right;
    color: black;
    height: 100px;
    white-space: pre;
    border-right: 3px solid #1d7567;
    background-color: #a0a0a0;
}

span.lineno a, span.lineno a:visited {
    background-color: inherit;
    color: #1e595a;
}

span.lineno a:hover {
    background-color: #C8C8C8;
    text-decoration: none;
}

.lineno {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
